In [ ]:
#What is data structure?
#Data structure is a way of organizing and storing data so that it can be accessed and manupulated effeciently
#Data organized in an sequential way

In [1]:
a = "ajay"
type(a)

str

In [ ]:
#Data structure - string, list, set, tuples, dictonary, array

In [ ]:
# LIST
#list >> you can store anything in list >>
#it is a heterogeneous data >>
#heterogeneous data means >> a collection of data with high variability in data types, structures, formats or sources
#list is an ordered collection of elements that can be of any data types

In [4]:
num = [1, 2, 3, 4, 5]
num

[1, 2, 3, 4, 5]

In [5]:
type(num)

list

In [6]:
num[0]

1

In [7]:
num[1]

2

In [9]:
num[2]

3

In [10]:
num[3]

4

In [11]:
num[4]

5

In [12]:
num[-1]

5

In [13]:
num[-2]

4

In [14]:
num[-3]

3

In [15]:
num[-4]

2

In [16]:
num[-5]

1

In [18]:
num[5]

IndexError: list index out of range

In [19]:
a = [1, 2, 3,"tomato", "baingain", "banana", True, False, (3+7J)]
a

[1, 2, 3, 'tomato', 'baingain', 'banana', True, False, (3+7j)]

In [20]:
type(a)

list

In [21]:
a

[1, 2, 3, 'tomato', 'baingain', 'banana', True, False, (3+7j)]

In [22]:
#want to add elements in this list so we can used append and the syntax is a.append
a.append("orange")
a

[1, 2, 3, 'tomato', 'baingain', 'banana', True, False, (3+7j), 'orange']

In [24]:
a.append("kajukathli")
a

[1,
 2,
 3,
 'tomato',
 'baingain',
 'banana',
 True,
 False,
 (3+7j),
 'orange',
 'kajukathli']

In [ ]:
#want to remove the some elements/item form the list so we can used remove and the syntax is a.remove

In [25]:
a.remove("orange")
a

[1, 2, 3, 'tomato', 'baingain', 'banana', True, False, (3+7j), 'kajukathli']

In [1]:
#We can add list in to list
lis = [[1,2,3,], [4,5,6], [7,8,9]]

In [2]:
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
type(lis)

list

In [9]:
#1,2,3 >> 0 & -3
#4,5,6 >> 1 & -2
#7,8,9 >> 2 & -1
lis[0]

[1, 2, 3]

In [11]:
lis[1]

[4, 5, 6]

In [12]:
lis[2]

[7, 8, 9]

In [13]:
lis[-1]

[7, 8, 9]

In [14]:
lis[-2]

[4, 5, 6]

In [15]:
lis[-3]

[1, 2, 3]

In [16]:
#so 0 is [1,2,3] and want to access 2 then the syntax is
lis[0][1]

2

In [17]:
lis[1][1]

5

In [18]:
#list is mutable
shopping_list = ["baingan", "apple", 2, 3.4, True]
shopping_list

['baingan', 'apple', 2, 3.4, True]

In [19]:
shopping_list = ["baingan", "apple", 2, 3.4, True]
shopping_list[0]

'baingan'

In [23]:
#we can also add potato insted of baingan
shopping_list = ["baingan", "apple", 2, 3.4, True]
shopping_list[0] = "potato"
shopping_list

['potato', 'apple', 2, 3.4, True]

In [25]:
for item in shopping_list:
  print(item, end = " ")

potato apple 2 3.4 True

In [26]:
#Tuples >> Immutable
#In tuples we used () i.e small bracket
point = (2, 3)
point

(2, 3)

In [27]:
type(point)

tuple

In [28]:
#Tuple >> it is immutable data
#Not able to change data like adhar card number, atm NO. once its created
#tuple can store heterageneous data i.e any kind of data
t = (1, 2, "shweta", 2.3, True, 3+5j )
t

(1, 2, 'shweta', 2.3, True, (3+5j))

In [29]:
type(t)

tuple

In [30]:
t

(1, 2, 'shweta', 2.3, True, (3+5j))

In [31]:
emp_name = ("sanjay" , "sanjay1", "bijay", "sanjay")
emp_name

('sanjay', 'sanjay1', 'bijay', 'sanjay')

In [32]:
type(emp_name)

tuple

In [33]:
emp_name[0]

'sanjay'

In [34]:
emp_name[1]

'sanjay1'

In [35]:
#consider bijay has left the office and we want to replace it to the another person rahul
emp_name[2] = "rahul"  #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [36]:
#We can add tuple into the tupple
box1 = ("a", "b")
box2 = ("c", "d")
choc_bag = (box1, box2)

In [37]:
choc_bag

(('a', 'b'), ('c', 'd'))

In [38]:
type(choc_bag)

tuple

In [39]:
for box in choc_bag:
  for choc in box:
    print(choc)

a
b
c
d

In [40]:
#sets >> are unordered collection of unique element
#sets are define as a curly bracket i.e {}
#it is immutable element
#we can add and remove element
s = {"red", "orange"}
type(s)

set

In [41]:
s

{'orange', 'red'}

In [42]:
s = {"red", "orange", "blue", "red", "orange"}
s

{'blue', 'orange', 'red'}

In [43]:
s = {"a", "a", 1, 1.1, 1.1, 2, 2, 2}
s

{1, 1.1, 2, 'a'}

In [44]:
s[0] #error >> no concept of indexing as sets are unordered and unique

TypeError: 'set' object is not subscriptable

In [46]:
#adding element in sets
s.add("pwskills")
s

{1, 1.1, 2, 'a', 'pwskills'}

In [47]:
#removing element in the sets
s.remove("pwskills")
s

{1, 1.1, 2, 'a'}

In [48]:
grocery_list = {"apple", "banana", "banana", "egg", "egg"}
grocery_list

{'apple', 'banana', 'egg'}

In [ ]:
#dictionaries >> which store the data in the form of key value pair >> we used curly bracket for that
my_dict = {}

In [2]:
my_dict = {}
type(my_dict)

dict

In [4]:
#In dictonary before colon it means key and after colon value of key
my_dict = {"key_cources" : "data science", "duration" : 20}
my_dict

{'key_cources': 'data science', 'duration': 20}

In [5]:
type(my_dict)

dict

In [6]:
#Use cases
phonebook = {"dad" : 1234, "mom" : 5678}
phonebook

{'dad': 1234, 'mom': 5678}

In [7]:
type(phonebook)

dict

In [9]:
#If we want to access only dad phone number then we can write this syntax
phonebook["dad"]

1234

In [11]:
phonebook["mom"]

5678

In [13]:
#if previous phone no. for dad was changed then it will access new no.
phonebook = {"dad" : 1234, "mom" : 5678, "dad" : 698}
phonebook["dad"]

698

In [3]:
phonebook = {"dad" : 1234, "mom" : 5678, "dad" : 698}
phonebook["dad"]

698

In [4]:
phonebook["mom"]

5678

In [7]:
rest_menu = {"paneer_kofta" : 480, "chicken_handi" : 590}
rest_menu

{'paneer_kofta': 480, 'chicken_handi': 590}

In [8]:
rest_menu["paneer_kofta"]

480

In [9]:
#if we want to modified the value paneer kofta value insated of previous value then the answer is yes
rest_menu["paneer_kofta"] = 500
rest_menu

{'paneer_kofta': 500, 'chicken_handi': 590}

In [11]:
#If we want keys then the syntax is
rest_menu.keys()

dict_keys(['paneer_kofta', 'chicken_handi'])

In [12]:
phonebook.keys()

dict_keys(['dad', 'mom'])

In [13]:
#if we want value of keys then the syntax is
rest_menu.values()

dict_values([500, 590])

In [14]:
phonebook.values()

dict_values([698, 5678])

In [16]:
#Array >> from array import array
#array is similar to list >> it is heterogeneous data >> it will strore homogeneous data

In [17]:
array('i', [1, 2 , 3, 4])

NameError: name 'array' is not defined

In [18]:
#string >> string is immutable
s = "shweta"
type(s)

str

In [19]:
for i in s:
  print(i)

s
h
w
e
t
a

In [20]:
s[0]

's'

In [21]:
#instade of S we want A
s[0] = "A" #it shown an error

TypeError: 'str' object does not support item assignment